body {
  background-image: url("./assets/serene-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.create-form button {
  padding: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 30px;
  background-color: rgb(5, 16, 88);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}


.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line_through{
  text-decoration: line-through;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.checkbox .p

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}